.intro {
  display: flex;
  align-items: center;
  height: 90vh;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.innerskills {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #176B87;
  font-size: 3rem;
}
.introlinks{
  width: 100%;
  display: flex;
  gap: 2rem;
  margin-top: 30px;
}
.introlinks a{
  color: #A2FF86;
  font-size: large;
}
.myintro {
  box-sizing: border-box;
  width: 45%;
  height: 100%; 
  word-wrap:break-word;
  padding: 100px 0px 0px 100px;
}
.myintro h1{
  font-size: 70px;
  margin: 0;
  color: #A2FF86;
}
.introlinks svg{
  font-size: 30px;
}
.myname {
  color: #e74c3c;
}
.myskills {
  position: relative;
  width: 55%;
  height: 100%;
  margin-top: 5rem;
}

.button-33 {
  background-color: rgb(162, 255, 134);
  border-radius: 100px;
  box-shadow: rgb(162, 255, 134,0.2) 0 -25px 18px -14px inset,
    rgb(162, 255, 134) 0 1px 2px, rgb(162, 255, 134) 0 2px 4px,
    rgb(162, 255, 134) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgb(162, 255, 134) 0 16px 32px;
  color: #176B87;
  font-weight: bolder;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
@media (max-width: 600px) {
  .myintro {
    width: 100%;
    padding: 35px 0 0px 30px;
    height: 28rem;
  }
  .myintro h1{
    font-size: 50px;
  }
  .myname {
    margin-top: 0;
    text-align: center;
  }
  .intro {
    height: 10vh;
    margin-bottom: 25rem;
  }
  .myskills {
    width: 100%;
  }
  .skills img {
    width: 15%;
  }
  #container {
    width: 100%;
    height: 400px;
    grid-template-columns: 60px;
    grid-template-rows: 60px;

  }
  .item {
    grid-area: 1/1;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    /* background: #f00; */
    animation: spin 16s var(--d, 0s) linear infinite; /* duration = 12s, numbor of item = 6 so a delay of 12/6 = 2s */
    transform: rotate(0) translate(150px) rotate(0);
  }
  .item img {
    width: 6rem;
    height: 6rem;
  }
  @keyframes spin {
    100% {
      transform: rotate(1turn) translate(180px) rotate(-1turn);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

.home-container {
  position: relative;
  min-height: 40vh;
  width: 45%;
  padding: 50px 40px;
  margin-top: 7px; /*ye*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.home-container .logo {
  /* position: inherit; */
  /* margin-top: -50px; */
  height: 520px;
  width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.home-container .logo .hover-show {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
}

.home-container .logo .hover-show.active {
  animation: showspin 8s linear 1s infinite;
}

@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}

.home-container .logo .circle {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(4, 4, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  opacity: 0;
}

.home-container .logo .hover-show.active .circle {
  opacity: 1;
}

.home-container .logo .hover-show.active .circle:nth-child(1) {
  background: url(../../images/tailwind.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}
.home-container .logo .hover-show.active .circle:nth-child(2) {
  position: absolute;
  transform: translateX(150%) translateY(-150%);
  background: url(../../images/django.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(3) {
  position: absolute;
  transform: translateX(210%);
  background: url(../../images/php.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(4) {
  position: absolute;
  transform: translateX(150%) translateY(150%);
  background: url(../../images/js.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(5) {
  position: absolute;
  transform: translateY(210%);
  background: url(../../images/react.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(6) {
  position: absolute;
  transform: translateX(-150%) translateY(150%);
  background: url(../../images/python.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(7) {
  position: absolute;
  transform: translateX(-210%);
  background: url(../../images/c.png);
  background-size: cover;
  background-position: center;
}
.home-container .logo .hover-show.active .circle:nth-child(8) {
  position: absolute;
  transform: translateX(-150%) translateY(-150%);
  background: url(../../images/mern.png);
  background-size: cover;
  background-position: center;
}

.home-container img {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 3px solid rgb(108, 161, 197);
  /* transform: translate(-200px); */
  opacity: 0;
  animation: fade-in 1s ease 1 0.5s forwards;
  /* transform: translate(0); */
}
::-webkit-scrollbar {
  display: none;
}
@keyframes fade-in {
  to {

    opacity: 1;
  }
}

.scroll-down {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.scroll-down .scroll {
  transform: rotate(-90deg);
  font-size: 20px;
}

@media (max-width: 820px) {
  .home-container {
    position: relative;
    min-height: 50vh;
    /* padding: 150px 40px; */
    /* margin-top: 20px; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .home-container .logo {
    position: inherit;
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .home-container .logo .hover-show {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .home-container .logo .circle {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
  }

  .home-container img {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
  }
}

@media (max-width: 500px) {
  .home-container {
    position: relative;
    min-height: 10vh;
    margin: 0;
    /* padding: 150px 30px; */
    /* margin-top: 50px !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }

  .home-container .logo {
    position: inherit;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .home-container .logo .hover-show {
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .home-container .logo .circle {
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
  }

  .home-container img {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
  }

  .scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: -70px;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .home-container {
    position: relative;
    /* min-height: 30vh; */
    /* margin-top: -150px; */
    height: 15rem;
    width: 100%;
    /* padding: 150px 10px 0; */
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .home-container .logo {
    position: inherit;
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
  }

  .home-container .logo .hover-show {
    position: absolute;
    height: 200px;
    width: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
  }

  .home-container .logo .circle {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: rgb(4, 4, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    opacity: 0;
  }

  .home-container img {
    position: absolute;
    height: 200px;
    width: 80%;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    /* transform: translate(-200px); */
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
  }
}
