.projectcards img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
margin: auto;
}
.projectcards a{
    height: 20rem;
    text-decoration: none;
    text-align: center;
    color: black;
}
.projectcards .languages{
    display: flex;
    justify-content: center;
}
.projectcards .languages img{
    width: 3rem;
    height: 3rem;
    margin:0 1rem 1rem 1rem;
}
.projectcards{
    border-radius: 58px;

}


.projectcards:hover{
    scale: 1.1;
    transition: all 0.5s ease-in;
}